@charset "UTF-8";
:root {
  --header-color-text: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --accent-color: #ff6c00;
  --second-btn-color: #303030;
  --typical-gap: 20px;
}

body {
  background-color: #ffffff;
  color: #555555;
  font-family: "Open Sans", "sans-serif";
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.btn-black {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  height: 40px;
  min-width: 160px;
  color: var(--header-color-text);
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
  -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-black:hover,
.btn-black:focus {
  background-color: var(--accent-color);
}

.white-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--second-btn-color);
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.white-btn:hover,
.white-btn:focus {
  background-color: var(--accent-color);
  color: var(--first-btn-color);
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: var(--typical-gap);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pre-title::before {
  content: "";
  width: 63px;
  height: 1px;
  background-color: currentColor;
  margin-right: 21px;
}

.header {
  position: absolute;
  width: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 70px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 40px;
}

.nav__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color-text);
  padding: 42px 0;
  -webkit-transition: color 205ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 205ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-color-text);
  margin-right: 40px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__tel:hover, .connect__tel:focus {
  color: var(--accent-color);
}

.hero-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.networks {
  width: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 22px;
  padding-bottom: 40px;
}

.networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(-90deg) translate(-19px);
          transform: rotate(-90deg) translate(-19px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.networks__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--second-title-color);
  margin-right: 40px;
}

.networks__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: var(--second-title-color);
}
.networks__link:hover, .networks__link:focus {
  color: var(--accent-color);
}

.networks__item + .networks__item {
  margin-left: 40px;
}

.hero-content {
  background-color: var(--second-title-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../img/hero-overley.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-overley.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 0 206px 96px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.hero-content__pre-title {
  color: rgba(157, 164, 189, 0.6);
}
.hero-content__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--header-color-text);
  margin-bottom: var(--typical-gap);
}
.hero-content__after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 400px;
  margin-bottom: var(--typical-gap);
}

.about {
  padding-top: 170px;
  padding-bottom: 80px;
}

.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-list__item + .about-list__item {
  margin-left: 30px;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 64px;
  padding-right: 90px;
}
.about-content__pre-title {
  color: var(--second-title-color);
}
.about-content__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
  margin-bottom: var(--typical-gap);
}
.about-content__after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: var(--typical-gap);
}
.about-content__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.prices {
  background-color: #111319;
  max-width: 1280px;
  margin: 0 auto;
  background-image: url(../img/bg-prices.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--header-color-text);
  margin-bottom: 44px;
}

.prices-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prices-list {
  width: 50%;
  /* border: 2px solid white; */
  padding: 30px 40px;
  margin-bottom: 50px;
}

.prices-list--light {
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list--dark {
  background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.prices-list__item::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* заполнение всего свободного места */
  height: 1px;
  background-color: currentColor;
  margin-left: 6px;
  margin-right: 6px;
}
.prices-list__item:not(:last-child) {
  margin-bottom: var(--typical-gap);
}

.prices-list__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-list__text:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.prices-list__btn {
  margin: 0 auto;
  display: block;
}

.features {
  padding-top: 143px;
  padding-bottom: 137px;
}

.features-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  padding: 0 100px;
}
.features-list__item {
  width: 170px;
  height: 133px;
  /* border: 2px solid black; */
  padding: 20px 24px;
  background: #f7f7f7;
  /* .features-item:nth-child(odd) */
}
.features-list__item:nth-child(2n+1) {
  margin-right: 30px;
}
.features-list__item:nth-child(even) {
  margin-top: 30px;
}
.features-list__count {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}
.features-list__count::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
  display: inline-block;
  vertical-align: top;
}
.features-list__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.features-content {
  width: 50%;
  padding-left: 30px;
  padding-right: 100px;
}
.features-content__pre-title {
  color: var(--second-title-color);
}
.features-content__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--second-btn-color);
  margin-bottom: var(--typical-gap);
}
.features-content__after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.masters {
  background-color: #f7f7f7;
  padding-top: 130px;
  padding-bottom: 130px;
}

.masters-content__pre-title {
  color: var(--second-title-color);
}

.masters-content__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.masters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.masters-card:not(:last-child) {
  margin-right: 30px;
}

.cover {
  position: relative;
  overflow: hidden;
}
.cover__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--header-color-text);
  background-color: rgba(255, 106, 0, 0.64);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.masters-card:hover .cover__text__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.masters-card__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-top: 30px;
  margin-bottom: 8px;
}

.masters-card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.soc-list__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--second-title-color);
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover, .soc-list__link:focus {
  fill: var(--header-color-text);
  background-color: var(--accent-color);
}

.soc-list__item + .soc-list__item {
  margin-left: 20px;
}

.examples {
  padding-top: 130px;
  padding-bottom: 130px;
}

.examples-text {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.examples-list__item:not(:last-child) {
  margin-right: 30px;
}

.online {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-right: 41px;
}

.online-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--header-color-text);
  margin-bottom: 44px;
}

.online-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
}

.online-field {
  position: relative;
  width: 260px;
}

.online-field__label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.online-field__input:focus + .online-field__label {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #ffffff;
}
.online-field__input:not(:-moz-placeholder-shown) + .online-field__label {
  transform: translateY(-100%);
  color: #ffffff;
}
.online-field__input:not(:-ms-input-placeholder) + .online-field__label {
  transform: translateY(-100%);
  color: #ffffff;
}
.online-field__input:not(:placeholder-shown) + .online-field__label {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #ffffff;
}

.online-field__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  width: 100%;
  height: 24px;
  outline: none;
  color: #ffffff;
}
.online-field__input:focus {
  border-color: #ffffff;
}

.online-comments {
  position: relative;
  margin-bottom: 44px;
}
.online-comments__text {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  width: 100%;
  height: 76px;
  outline: none;
  color: #ffffff;
  resize: none;
}

.online-comments__label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.online-comments__text:focus + .online-comments__label {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #ffffff;
}
.online-comments__text:not(:-moz-placeholder-shown) + .online-comments__label {
  transform: translateY(-100%);
  color: #ffffff;
}
.online-comments__text:not(:-ms-input-placeholder) + .online-comments__label {
  transform: translateY(-100%);
  color: #ffffff;
}
.online-comments__text:not(:placeholder-shown) + .online-comments__label {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #ffffff;
}

.online-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--header-color-text);
}
.online-btn:hover, .online-btn:focus {
  background-color: #ff6c00;
}

/* ------ Contacts general----- */
.contacts-wrap {
  background-color: #191c26;
  background-image: url(../img/Bg-footer.png);
  background-repeat: no-repeat;
  background-position: right;
  max-width: 1280px;
  margin: 0 auto;
  background-size: calc(50% - 15px);
}
.contacts-wrap .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
}
.contact_title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--header-color-text);
  margin-bottom: 40px;
}
.contact__address {
  margin-bottom: 70px;
}

.contacts-list__item {
  margin-bottom: var(--typical-gap);
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: var(--typical-gap);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link__link:hover, .contacts-list__link__link:focus {
  color: var(--accent-color);
}

.contacts-list__icon {
  margin-right: 16px;
  fill: none;
}

.contact-bold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-color-text);
  margin-bottom: var(--typical-gap);
}
.contact-bold::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
  margin-right: 20px;
}

.contact-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.footer-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-title-color);
  margin-left: 40px;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__link:hover, .footer-list__link:focus {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 300ms, visibility 300ms;
  transition: opacity 300ms, visibility 300ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--first-btn-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  background-color: transparent;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  padding-bottom: 12px;
}

/* .modal-form {
} */
.form-fild {
  margin-bottom: 10px;
}

.form-fild__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  background-color: transparent;
  outline: none;
}
.form-fild__input:focus {
  border-color: var(--accent-color);
}

.form-fild__wrap {
  position: relative;
}

.form-fild__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  /* fill: var(--second-title-color); */
}
.form-fild__input:focus + .form-fild__icon {
  fill: var(--accent-color);
}

.form-fild__text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-fild__coment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 12px 16px;
  resize: none;
  outline: none;
}
.form-fild__coment:focus {
  border-color: var(--accent-color);
}

.form-fild__check--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.form-fild__check:checked + .form-fild__check--text::before {
  background-color: var(--accent-color);
  background-image: url(../img/check.svg);
  border-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}
.form-fild__check--text::before {
  content: "";
  width: 16px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid var(--second-title-color);
  margin-right: 8px;
}

.btn-modals {
  width: 200px;
  height: 50px;
}
.btn-modals + .btn-modals {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}/*# sourceMappingURL=main.css.map */