:root {
  --header-color-text: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --accent-color: #ff6c00;
  --second-btn-color: #303030;
}

body {
  background-color: #ffffff;
  color: #555555;
  font-family: 'Open Sans', 'sans-serif';
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.nav {
  color: tomato;
}

/* ---- header----- */
.header {
  background-color: grey;
}
.logo {
}
.header-nav {
}
.nav {
}
.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color-text);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.header-contacts {
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-color-text);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--header-color-text);
}
.header-btn:hover,
.header-btn:focus {
  background-color: var(--accent-color);
}

/* ------ hero------- */
.hero {
  background-color: rgb(48, 48, 48);
}
.networks {
}
.networks-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: var(--second-title-color);
}
.networks-link:hover,
.networks-link:focus {
  color: var(--accent-color);
}
.hero-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--header-color-text);
}
.hero-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* -------about------- */
.about {
}
.about-list {
}
.about-item {
}
.about-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
  color: var(--second-title-color);
}
.about-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}
.about-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
.about-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--second-btn-color);
}
.about-btn:hover,
.about-btn:focus {
  background-color: var(--accent-color);
}
/* --prices---- */
.prices {
  background-color: rgb(48, 48, 48);
}
.prices-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--header-color-text);
}
.prices-list {
}
.prices-item {
}
.prices-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: right;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--first-btn-color);
}
.prices-btn:hover,
.prices-btn:focus {
  background-color: var(--accent-color);
}
/*---- features---- */
.features {
}
.features-list {
}
.list {
}
.features-item {
}
.features-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}
.count-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
.features-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.features-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--second-btn-color);
}
.features-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
/* ---- masters---- */
.masters {
}
.masters-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.masters-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}
.masters-list {
}
.masters-card {
}
.masters-card-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--second-title-color);
}
.masters-card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}
/* ----examples--- */
.examples {
}
.examples-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.examples-list {
}
/* ---- online--- */
.online {
  background-color: #191c26;
}
.online-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--header-color-text);
}
.online-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--header-color-text);
}
.online-btn:hover,
.online-btn:focus {
  background-color: #ff6c00;
}
/* ------ contacts----- */
.contact {
  background-color: #191c26;
}
.contact-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--header-color-text);
}
.contacts-list {
}
.contacts-link {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contact-bold {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-color-text);
}
.contact-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* ----- footer--- */

.footer {
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-list {
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-title-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
