:root {
  --header-color-text: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --accent-color: #ff6c00;
  --second-btn-color: #303030;
  --typical-gap: 20px;
}
/* ----resset--- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* ----- загальні настройки---- */
body {
  background-color: #ffffff;
  color: #555555;
  font-family: 'Open Sans', 'sans-serif';
  margin: 0;
}

.nav {
  color: tomato;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.btn-black {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  height: 40px;
  min-width: 160px;
  color: var(--header-color-text);
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.white-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--second-btn-color);
  align-self: center;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
}
.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: var(--typical-gap);
  display: flex;
  align-items: center;
}
.pre-title::before {
  content: '';
  width: 63px;
  height: 1px;
  background-color: currentColor;
  margin-right: 21px;
}

/* ---- header----- */
.header {
  position: absolute;
  width: 100%;
}
.header-flex {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
}
.header-nav {
}
.nav {
  display: flex;
}
.nav-item {
  display: flex;
}
.nav-item + .nav-item {
  margin-left: 40px;
}
.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color-text);
  padding: 42px 0;
  transition: color 205ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.header-contacts {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-color-text);
  margin-right: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* ------ hero------- */
.hero {
}
.hero-flex {
  display: flex;
}

.networks {
  width: 93px;
  display: flex;
  align-items: flex-end;
  padding-left: 22px;
  padding-bottom: 40px;
}
.networks-list {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
}
.networks-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: var(--second-title-color);
}
.networks-link:hover,
.networks-link:focus {
  color: var(--accent-color);
}
.networks-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--second-title-color);
  margin-right: 40px;
}
.networks-item + .networks-item {
  margin-left: 40px;
}

.hero-content {
  background-color: var(--second-title-color);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../img/hero-overley.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 0 206px 96px;
  flex-grow: 1;
}
.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--header-color-text);
  margin-bottom: var(--typical-gap);
}
.hero-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 400px;
  margin-bottom: var(--typical-gap);
}

/* -------about------- */
.about {
  padding-top: 170px;
  padding-bottom: 80px;
}
.about-flex {
  display: flex;
}
.about-list {
  display: flex;
}
.about-item + .about-item {
  margin-left: 30px;
}
.about-content {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  padding-right: 90px;
}
.about-pre-title {
  color: var(--second-title-color);
}
.about-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
  margin-bottom: var(--typical-gap);
}
.about-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: var(--typical-gap);
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
.white-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--second-btn-color);
  align-self: center;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
  transition: background-color 300ms;
}

.white-btn:hover,
.white-btn:focus {
  background-color: var(--accent-color);
  color: var(--first-btn-color);
}
/* --prices---- */
.prices {
  background-color: #111319;
  max-width: 1280px;
  margin: 0 auto;
  background-image: url(../img/bg-prices.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*  */
  padding-top: 130px;
  padding-bottom: 130px;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--header-color-text);
  margin-bottom: 44px;
}
.prices-flex {
  display: flex;
}
.prices-list {
  width: calc(100% / 2);
  /* border: 2px solid white; */
  padding: 30px 40px;
  margin-bottom: 50px;
}
.prices-list-light {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list-dark {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.prices-item::before {
  content: '';
  flex-grow: 1;
  /* заполнение всего свободного места */
  height: 1px;
  background-color: currentColor;
  margin-left: 6px;
  margin-right: 6px;
}
.prices-item:not(:last-child) {
  margin-bottom: var(--typical-gap);
}
.prices-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-text:first-child {
  order: -1;
}

.prices-btn {
  margin: 0 auto;
  display: block;
}
.btn-black:hover,
.btn-black:focus {
  background-color: var(--accent-color);
}
/*---- features---- */
.features {
  padding-top: 143px;
  padding-bottom: 137px;
}
.features-flex {
  display: flex;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding: 0 100px;
}

.features-item {
  width: 170px;
  height: 133px;
  /* border: 2px solid black; */
  padding: 20px 24px;
  background: #f7f7f7;
}
.features-item:nth-child(2n + 1) {
  margin-right: 30px;
}
/* .features-item:nth-child(odd) */
.features-item:nth-child(even) {
  margin-top: 30px;
}
.features-count {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}
.features-count::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
  display: inline-block;
  vertical-align: top;
}
.count-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
.features-wrap {
  width: 50%;
  padding-left: 30px;
  padding-right: 100px;
}

.features-pre-title {
  color: var(--second-title-color);
}
.features-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--second-btn-color);
  margin-bottom: var(--typical-gap);
}
.features-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
/* ---- masters---- */
.masters {
  background-color: #f7f7f7;
  padding-top: 130px;
  padding-bottom: 130px;
}
.masters-pre-title {
  color: var(--second-title-color);
}

.masters-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
  margin-bottom: 44px;
}
.masters-list {
  display: flex;
}
.masters-card {
  /* width: calc(100% / 3 - 30px); */
}
.masters-card:not(:last-child) {
  margin-right: 30px;
}
.masters-card:hover .masters-cover-text {
  transform: translateY(0);
}
.masters-cover-wrap {
  position: relative;
  overflow: hidden;
}
.masters-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--header-color-text);
  background-color: rgba(255, 106, 0, 0.64);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-img {
}
.masters-card-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--second-title-color);
  margin-top: 30px;
  margin-bottom: 8px;
}
.masters-card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item {
}
.cart-item + .cart-item {
  margin-left: 20px;
}
.cart-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--second-title-color);
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cart-link:hover,
.cart-link:focus {
  fill: var(--header-color-text);
  background-color: var(--accent-color);
}

/* ----examples--- */
.examples {
  padding-top: 130px;
  padding-bottom: 130px;
}
.examples-text {
  color: var(--second-title-color);
  margin-bottom: 44px;
}
.examples-list {
  display: flex;
}
.examples-item {
  /* width: calc(100% / 4 - 30px); */
}
.examples-item:not(:last-child) {
  margin-right: 30px;
}
/* ------ Contacts general----- */
.contacts-wrap {
  background-color: #191c26;
  background-image: url(../img/Bg-footer.png);
  background-repeat: no-repeat;
  background-position: right;
  max-width: 1280px;
  margin: 0 auto;
  background-size: calc(50% - 15px);
}
.contacts-wrap .conteiner {
  display: flex;
}
/* ---- online--- */
.online {
  flex-grow: 1;
  padding-top: 130px;
  padding-bottom: 130px;
}
.online-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--header-color-text);
}
.online-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--header-color-text);
}
.online-btn:hover,
.online-btn:focus {
  background-color: #ff6c00;
}
/* ------ contacts----- */
.contact {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
}
.contact-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--header-color-text);
  margin-bottom: 40px;
}
.contact-address {
  margin-bottom: 70px;
}
.contacts-lists {
}
.contacts-list {
  margin-bottom: var(--typical-gap);
}
.contacts-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: var(--typical-gap);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
  /* stroke: var(--accent-color); */
  /* fill: var(--accent-color); */
}
.contacts-icon {
  margin-right: 16px;
  /* stroke: #9da4bd; */
  fill: none;
}

.contact-bold {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-color-text);
  margin-bottom: var(--typical-gap);
}
.contact-bold::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
  margin-right: 20px;
}
.contact-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* ----- footer--- */
.footer .conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-list {
  display: flex;
  align-items: center;
}
.footer-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-title-color);
  margin-left: 40px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
/* ------ modal---- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms, visibility 300ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--first-btn-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  background-color: transparent;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
