.about {
  padding-top: 170px;
  padding-bottom: 80px;
}
.about-flex {
  display: flex;
}
.about-list {
  display: flex;
}
.about-list__item + .about-list__item {
  margin-left: 30px;
}
.about-content {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  padding-right: 90px;

  &__pre-title {
    color: var(--second-title-color);
  }
  &__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--second-title-color);
    margin-bottom: var(--typical-gap);
  }
  &__after-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    margin-bottom: var(--typical-gap);
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
  }
}
