.examples {
  padding-top: 130px;
  padding-bottom: 130px;
}
.examples-text {
  color: var(--second-title-color);
  margin-bottom: 44px;
}
.examples-list {
  display: flex;
}
// .examples-list__item {
//    width: calc(100% / 4 - 30px);
// }
.examples-list__item:not(:last-child) {
  margin-right: 30px;
}
