.online {
  flex-grow: 1;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-right: 41px;
}
.online-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--header-color-text);
  margin-bottom: 44px;
}
.online-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.online-field {
  position: relative;
  width: 260px;
}

.online-field__label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}

.online-field__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  width: 100%;
  height: 24px;
  outline: none;
  color: #ffffff;
}
.online-field__input:focus {
  border-color: #ffffff;
}
.online-field__input:focus + .online-field__label {
  transform: translateY(-100%);
  color: #ffffff;
}
.online-field__input:not(:placeholder-shown) + .online-field__label {
  transform: translateY(-100%);
  color: #ffffff;
}
.online-comments {
  position: relative;
  margin-bottom: 44px;
}
.online-comments__text {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  width: 100%;
  height: 76px;
  outline: none;
  color: #ffffff;
  resize: none;
}
.online-comments__label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}

.online-comments__text:focus + .online-comments__label {
  transform: translateY(-100%);
  color: #ffffff;
}
.online-comments__text:not(:placeholder-shown) + .online-comments__label {
  transform: translateY(-100%);
  color: #ffffff;
}

.online-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--header-color-text);
}
.online-btn:hover,
.online-btn:focus {
  background-color: #ff6c00;
}
