.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: var(--typical-gap);
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 63px;
    height: 1px;
    background-color: currentColor;
    margin-right: 21px;
  }
}
